
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/static/Roboto-Regular.ttf);
}







/* Colors */

.torkoal-orange {
    color: #ED9E75;
}

.torkoal-red {
    color: #D95560;
}

.torkoal-gray {
    color: #7E7E7E;
}

.torkoal-brown {
    color: #C6A37F;
}

.torkoal-black {
    color: #000;
}




/* Header */

.logo {
    font-family: "Ultra";
    font-size: 2.5em;
    margin-left: 7.5rem;
    margin-right: 9.5625rem;
    text-decoration: none;
    color: #ED9E75;
}

.header-category {
    font-family: "Ultra";
    font-size: 1.5em;
    color: #000;
    text-decoration: none;
    margin-right: 9.5625rem;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: #ED9E75;
    text-decoration-thickness: 0.25rem;
}





/* Footer */

.footer-category {
    font-family: "Roboto";
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    margin-right: 7.8125rem;
}






/* Reusable classes */

.active {
    text-decoration: underline;
    text-decoration-color: #D95560;
    text-decoration-thickness: 0.25rem; 
}

.capitalize {
    text-transform: capitalize;
}

.text-align-center {
    text-align: center;
}


.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}






/* Framing */

.frame {
    border-style: solid;
    border-radius: 57px;
    border-color: #000; 
}







/* Images */

.torkoal-main {
    
}

.torkoal-mini {
    background-color: #fff;
}


.mini-image {
    width: 45%;
}







/* Buttons */

.cta {
    border-style: solid;
    border-color: #fff;
    border-radius: 33px;
    background-color: #D95560;
    font-family: "Ultra";
    text-decoration: none;
    text-transform: capitalize;
}

.cta-main {
    padding: 1em 5em;
    font-size: larger;
}







/* Homepage */

.home-flexbox {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.home-flexbox-small {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-content: space-around;
}

.home-flex-item-big {
    display: flex;
    width: 47%;
    height: auto;
    justify-content: space-between;
}


.home-mini-torkoal-flexbox {
    display: flex;
    justify-content: space-between;
    flex: 3;
}


.home-h1 {
    display: flex;
    justify-content: center;
    flex: 1;
    font-family: "Ultra";
    margin: 0;
}

.home-attention-grabber-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "Ultra";
    font-size: x-large;
    margin: 0;
    flex: 2;
    gap: 0px;
}

.home-cta {
    display: flex;
    justify-content: center;
}

.home-flexbox p {
    margin: 0;
}






/* Gallery */





.gallery-flexbox {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.gallery-grid-item-big {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(22, 1fr);
    width: 30%;
    background-color: #fff;
    border-style: solid;
    border-radius: 33px; 
}




#gen-in-game-information {
    grid-area: 1 / 2 / 1 / 8;
    text-align: center;
    border-bottom: solid 1px #000;
    font-size: 2em;
}

#gen-more {
    grid-area: 9 / 1 / 9 / 9;
    border-top: solid 1px #000;
    font-size: 2em;
}


.gallery-grid-item-big a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";    
    color: #000;
    font-size: large;
    border-bottom: solid 1px #000;
    border-top: solid 1px #000;
}

.gallery-grid-item-big h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.gen-3 {
    grid-area: 2 / 1 / 2 / 9;
}

.gen-4 {
    grid-area: 3 / 1 / 3 / 9;
}

.gen-5 {
    grid-area: 4 / 1 / 4 / 9;
}

.gen-6 {
    grid-area: 5 / 1 / 5 / 9;
}

.gen-7 {
    grid-area: 6 / 1 / 6 / 9;
}

.gen-8 {
    grid-area: 7 / 1 / 7 / 9;
}

.gen-9 {
    grid-area: 8 / 1 / 8 / 9;
}










/* Contact Page */

.form {
    font-family: "Roboto";
    height: 31.25rem;
    display: inline-block;
    margin-left: 25%;
}

.form-2 {
    border-style: none;
    margin-left: 0px;
    margin-top: 1rem;
    padding-left: 0px;
}

.form-3 {
    margin-top: 1rem;
}

.pad {
    margin-top: 2rem;
}








/* IDs */

#left-in-footer {
    margin-left: 25%;
    /*Probably not exact, so fix later*/
}







/* Elements */

main {
    margin: 0em;
    padding: 75px 0px;
}

body {
    background-color: #ED9E75;
    margin: 0em;
}

header {
    background-color: #7E7E7E;
    margin-top: 0;
    padding: 1.5em;
}

footer {
    background-color: #7E7E7E;
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 1.5em;
}


img {
    width: 100%;
}


legend {
    padding: 0;
}












