
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/static/Roboto-Regular.ttf);
}





/* Variables */


:root {
    --torkoal-orange: #ed9e75;
    --torkoal-red: #d95560;
    --torkoal-gray: #7e7e7e;
    --torkoal-brown: #c6a37f;
    --torkoal-black: #000;
    --torkoal-white: #fff;
    --font-main: "Ultra";
    --font-secondary: "Roboto";
}





/* Colors */



.torkoal-orange {
    color: var(--torkoal-orange);
}

.torkoal-red {
    color: var(--torkoal-red);
}

.torkoal-gray {
    color: var(--torkoal-gray);
}

.torkoal-brown {
    color: var(--torkoal-brown);
}

.torkoal-black {
    color: var(--torkoal-black);
}

.torkoal-white {
    color: var(--torkoal-white);
}






/* Elements */

main {
    margin-top: 2em;
    padding: 75px 0px;
}

body {
    background-color: var(--torkoal-orange);
    margin: 0;
}

header {
    background-color: var(--torkoal-gray);
    margin-top: 0;
    margin-bottom: 2em;
    padding: 1.5em 0;
    border-bottom: solid 3px var(--torkoal-black);
}

footer {
    background-color: var(--torkoal-gray);
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 1.5em;
    border-top: solid 3px var(--torkoal-black);
}

img {
    width: 100%;
}


legend {
    padding: 0;
}

fieldset {
    border: none;
}




/* Page-Switch-Animation */

.page-switch {
    animation-name: smoke-clearing;
    animation-duration: 1.2s;
    content: "";
    width: 100%;
    height: 100%;
}

@keyframes smoke-clearing {

    0.001% {
        opacity: 0;
        background-color: var(--torkoal-black);
    }


    50% {
        opacity: 0.02;
        background-color: var(--torkoal-gray);
    }

    100% {
        opacity: 1;
        
    }
}






/* Header */

.nav-flexbox {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.nav-flexbox-mini {
    display: flex;
    width: 30%;
}

#nav-categories {
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.logo {
    font-family: var(--font-main);
    font-size: 2.5em;
    text-decoration: none;
    color: var(--torkoal-orange);
}

#logo {
    /* Media query */
}

.header-category {
    font-family: var(--font-main);
    font-size: 1.5em;
    color: var(--torkoal-black);
    text-decoration: none;
}

.placeholder-searchbar {
    background-color: var(--torkoal-white);
    width: 100%;
    height: 80%;
    border: solid 3px var(--torkoal-black);
    border-radius: 33px;
    text-align: center;
    align-self: center;
}

#searchbar {
    align-items: center;
}

nav a:hover,
.gallery-grid-item-big a:hover,
footer a:hover {
    text-decoration: underline;
    text-decoration-color: var(--torkoal-orange);
    text-decoration-thickness: 0.25rem;
}





/* Footer */

.footer-container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
}

.footer-category {
    font-family: var(--font-secondary);
    font-size: 1em;
    color: var(--torkoal-black);
    text-decoration: none;
}






/* Reusable classes */

.active {
    text-decoration: underline;
    text-decoration-color: var(--torkoal-red);
    text-decoration-thickness: 0.25rem; 
}

.capitalize {
    text-transform: capitalize;
}

.text-align-center {
    text-align: center;
}


.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}






/* Framing */

.frame {
    border: solid 3px var(--torkoal-black);
    border-radius: 57px; 
}







/* Images */

.torkoal-main {
    /* Media query */
}

.torkoal-mini {
    background-color: var(--torkoal-white);
}


.mini-image {
    width: 45%;
}







/* Buttons */

.cta {
    border-style: solid;
    border-color: var(--torkoal-white);
    border-radius: 33px;
    background-color: var(--torkoal-red);
    color: var(--torkoal-black);
    font-family: var(--font-main);
    text-decoration: none;
    text-transform: capitalize;
    transition-property: background color;
    transition-duration: 0.7s;
}

.cta-main {
    padding: 0.5em 2.5em;
    font-size: x-large;
}

.cta:hover {
    background-color: var(--torkoal-black);
    color: var(--torkoal-red);
}







/* Homepage */

.home-flexbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.home-flexbox-small {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-content: space-around;
}

.home-flex-item-big {
    display: flex;
    width: 47%;
    height: auto;
    justify-content: space-between;
}


#left-frame {
    justify-content: center;
}

#hero-text-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--torkoal-red);
    width: 14em;
    height: 8em;
    padding: 0.5em 1em;
    left: 65em;
    top: 16em;
    /* Take some of this to another p-specific class and make it a flex-item within the button/frame itself */
}

.hero-text {
    font-family: var(--font-main);
    font-size: x-large;
    text-align: center;
}


.home-mini-torkoal-flexbox {
    display: flex;
    justify-content: space-between;
    flex: 3;
}


.home-h1 {
    display: flex;
    justify-content: center;
    flex: 1;
    font-family: var(--font-main);
    margin: 0;
}

.home-attention-grabber-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-main);
    font-size: x-large;
    margin: 0;
    flex: 2;
    gap: 0px;
}

.home-cta {
    display: flex;
    justify-content: center;
}

.home-flexbox p {
    margin: 0;
}






/* Gallery */





.gallery-flexbox {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.gallery-grid-item-big {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(9, 1fr);
    width: 30%;
    max-height: 816.6px;
    background-color: var(--torkoal-brown);
    border-style: solid;
    border-radius: 33px; 
}




.gallery-card-top {
    grid-area: 1 / 1 / 1 / 9;
    font-size: 2em;
}

.gallery-card-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 9 / 1 / 9 / 9;
    border-top: solid 1px var(--torkoal-black);
    border-bottom: none;
    font-size: 2em;
    font-family: var(--font-secondary);
    color: var(--torkoal-black);
    background-color: var(--torkoal-brown);
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 32px;
}

#gen-option-top {
    border-top: solid 3.5px var(--torkoal-black);
}

#more-1 {
    border-right: solid 1px var(--torkoal-black);
    border-top: solid 2px var(--torkoal-black);
}

#more-2 {
    border-left: solid 1px var(--torkoal-black);
    border-bottom-left-radius: 32px;
}

#more-3 {
    border-top: none;
    border-left: solid 1px var(--torkoal-black);
    border-bottom-left-radius: 32px;
}
    


.gen-option {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-secondary);
    background-color: var(--torkoal-white);   
    color: var(--torkoal-black);
    font-size: large;
    border-bottom: solid 2px var(--torkoal-black);
    border-top: solid 2px var(--torkoal-black);
    border-right: solid 2px var(--torkoal-black);
}

.gallery-grid-item-big h2 {
    display: flex;
    justify-content: center;
}


.gen-3 {
    grid-area: 2 / 1 / 2 / 9;
}

.gen-4 {
    grid-area: 3 / 1 / 3 / 9;
}

.gen-5 {
    grid-area: 4 / 1 / 4 / 9;
}

.gen-6 {
    grid-area: 5 / 1 / 5 / 9;
}

.gen-7 {
    grid-area: 6 / 1 / 6 / 9;
}

.gen-8 {
    grid-area: 7 / 1 / 7 / 9;
}

.gen-9 {
    grid-area: 8 / 1 / 8 / 9;
}






.tcg-container {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(22, 1fr);
    background-color: var(--torkoal-white);
    border-top: solid 2px var(--torkoal-black);
    border-bottom: solid 1px var(--torkoal-black);
    border-left: solid 1px var(--torkoal-black);
    grid-area: 2 / 1 / 9 / 9;
}

.tcg-mini-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--torkoal-black);
}

.gallery-tcg-image {
    max-width: 180px;
    max-height: 251px;
}


#tcg-image-1 {
    grid-area: 1 / 1 / 12 / 8;
    border-left: none;
}

#tcg-image-2 {
    grid-area: 1 / 8 / 12 / 15;
    border-right: none;
}

#tcg-image-3 {
    grid-area: 12 / 1 / 23 / 8;
    border-left: none;
}

#tcg-image-4 {
    grid-area: 12 / 8 / 23 / 15;
    border-right: none;
}



.art-image-container-1 {
    display: flex;
    justify-content: center;
    background-color: var(--torkoal-white);
    grid-area: 2 / 1 / 5 / 9;
}

.art-image-container-2 {
    display: flex;
    justify-content: center;
    background-color: var(--torkoal-white);
    grid-area: 6 / 1 / 9 / 9;
}


#art-images-image-1 {
    max-width: 250px;
    height: auto;
}

#art-images-image-2 {
    max-width: 250px;
    height: auto;
}







/* Test */








/* Contact Page */

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: var(--font-secondary);
    width: 50%;
    margin: auto;
    margin-top: 2em;
    gap: 2em;
}

.form-name-surname-email {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 30%;
}

.form-gender {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.form-continent {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-button {
    align-self: center;
}







/* Media Queries */






@media screen and (max-width: 1080px) {

    .nav-flexbox-mini {
        align-items: center;
    }
    
    .logo {
        font-size: 2em;
    }

    .header-category {
        font-size: 1.3em;
    }






    #hero-text-box {
        left: 67%;
        padding: 0;
    }

    .hero-text {
        font-size: large;
    }




} 




@media screen and (max-width: 800px) {

    main {
        padding: 0;
    }
    
    body {
        min-height: 100vh;
        min-height: 100dvh;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    header {
        position: sticky;
        top: 0;
        left: 0;
        padding: 0.5em 0;
        z-index: 2;
    }




    .logo {
        font-size: 1.5em;
    }

    .header-category {
        font-size: 1.1em;
    }






    .footer-container {
        font-size: small;
        width: 90%;
    }






    .home-flexbox {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2em;
    }

    .home-flexbox-small {
        gap: 2em;
    }

    .home-flex-item-big {
        width: 100%;
    }

    .torkoal-main {
        width: 90%;
    }


    #hero-text-box {
        top: 55em;
        z-index: 1;
    }

    .hero-text {
        font-size: large;
    }

    .home-h1 {
        text-align: center;
        font-size: 2.5em;
    }

    .home-attention-grabber-text {
        text-align: center;
        font-size: 1.4em;
    }

    .mini-image {
        width: 48%;
    }

    .frame {
        border-radius: 45px;
    }






    .gallery-flexbox {
        flex-direction: column;
        gap: 1em;
    }

    .gallery-grid-item-big {
        width: 100%;
    }





    .form {
        width: 80%;
        margin: 0 auto;
    }

    .form-name-surname-email {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .form-gender {
        flex-wrap: wrap;
    }

    legend {
        margin-bottom: 1em;
    }

    .form-gender > label {
        width: 50%;
        margin: 2px 0;
    }

    .form-gender > input {
        width: 50%;
    }

    input {
        margin: 0;
    }



    
}





@media screen and (max-width: 600px) {

    .nav-flexbox {
        flex-direction: column;
        width: 90%;
        gap: 0.5em;
    }

    .nav-flexbox-mini {
        justify-content: space-between;
        align-content: center;
        width: 100%;
    }

    .logo {
        font-size: 2em;
        align-self: center;
        text-align: center;
    }

    #logo {
        justify-content: center;
    }

    .header-category {
        font-size: 1em;
    }

    #nav-categories {
        width: 100%;
    }

    #searchbar {
        display: none;
    }



    .torkoal-main {
        width: 45%;
    }


    #hero-text-box {
        position: static;
        width: 45%;
        height: auto;
    }

    .home-attention-grabber-text {
        text-align: center;
        font-size: large;
    }





    .footer-container {
        font-size: x-small;
        width: 90%;
    }
    
}

























