
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/static/Roboto-Regular.ttf);
}







/* Colors */

:root {
    --torkoal-orange: #ed9e75;
    --torkoal-red: #d95560;
    --torkoal-gray: #7e7e7e;
    --torkoal-brown: #c6a37f;
    --torkoal-black: #000;
    --torkoal-white: #fff;
    --font-main: "Ultra";
    --font-secondary: "Roboto";
}

.torkoal-orange {
    color: var(--torkoal-orange);
}

.torkoal-red {
    color: var(--torkoal-red);
}

.torkoal-gray {
    color: var(--torkoal-gray);
}

.torkoal-brown {
    color: var(--torkoal-brown);
}

.torkoal-black {
    color: var(--torkoal-black);
}

.torkoal-white {
    color: var(--torkoal-white);
}






/* Header */

.logo {
    font-family: var(--font-main);
    font-size: 2.5em;
    margin-left: 7.5rem;
    margin-right: 9.5625rem;
    text-decoration: none;
    color: var(--torkoal-orange);
}

.header-category {
    font-family: var(--font-main);
    font-size: 1.5em;
    color: var(--torkoal-black);
    text-decoration: none;
    margin-right: 9.5625rem;
}

nav a:hover,
.gallery-grid-item-big a:hover,
footer a:hover {
    text-decoration: underline;
    text-decoration-color: var(--torkoal-orange);
    text-decoration-thickness: 0.25rem;
}





/* Footer */

.footer-container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
}

.footer-category {
    font-family: var(--font-secondary);
    font-size: 1em;
    color: var(--torkoal-white);
    text-decoration: none;
}






/* Reusable classes */

.active {
    text-decoration: underline;
    text-decoration-color: var(--torkoal-red);
    text-decoration-thickness: 0.25rem; 
}

.capitalize {
    text-transform: capitalize;
}

.text-align-center {
    text-align: center;
}


.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}






/* Framing */

.frame {
    border-style: solid;
    border-radius: 57px;
    border-color: var(--torkoal-black); 
}







/* Images */

.torkoal-main {
    /* Media query */
}

.torkoal-mini {
    background-color: var(--torkoal-white);
}


.mini-image {
    width: 45%;
}







/* Buttons */

.cta {
    border-style: solid;
    border-color: var(--torkoal-white);
    border-radius: 33px;
    background-color: var(--torkoal-red);
    color: var(--torkoal-black);
    font-family: var(--font-main);
    text-decoration: none;
    text-transform: capitalize;
    transition-property: background color;
    transition-duration: 1s;
}

.cta-main {
    padding: 0.5em 2.5em;
    font-size: x-large;
}

.cta:hover {
    background-color: var(--torkoal-black);
    color: var(--torkoal-red);
}







/* Homepage */

.home-flexbox {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.home-flexbox-small {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-content: space-around;
}

.home-flex-item-big {
    display: flex;
    width: 47%;
    height: auto;
    justify-content: space-between;
}


#left-frame {
    background-image: url(images/torkoal.jpg);
    background-size: cover;
    overflow: hidden;
    border: solid var(--torkoal-black);
    border-radius: 57px;
    justify-content: center;
}

#hero-text {
    display: flex;
    justify-content: center;
    background-color: var(--torkoal-red);
    font-family: var(--font-main);
    font-size: x-large;
    text-align: center;
    max-width: 40%;
    max-height: 20%;
    padding: 0.5em 1em;
    margin-left: 45%;
    margin-top: 5%;
    /* Take some of this to another p-specific class and make it a flex-item within the button/frame itself */
}


.home-mini-torkoal-flexbox {
    display: flex;
    justify-content: space-between;
    flex: 3;
}


.home-h1 {
    display: flex;
    justify-content: center;
    flex: 1;
    font-family: var(--font-main);
    margin: 0;
}

.home-attention-grabber-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-main);
    font-size: x-large;
    margin: 0;
    flex: 2;
    gap: 0px;
}

.home-cta {
    display: flex;
    justify-content: center;
}

.home-flexbox p {
    margin: 0;
}






/* Gallery */





.gallery-flexbox {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.gallery-grid-item-big {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(9, 1fr);
    width: 30%;
    max-height: 816.6px;
    background-color: var(--torkoal-brown);
    border-style: solid;
    border-radius: 33px; 
}




.gallery-card-top {
    grid-area: 1 / 1 / 1 / 9;
    font-size: 2em;
}

.gallery-card-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 9 / 1 / 9 / 9;
    border-top: solid 1px var(--torkoal-black);
    border-bottom: none;
    font-size: 2em;
    font-family: var(--font-secondary);
    color: var(--torkoal-black);
    background-color: var(--torkoal-brown);
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 32px;
}

#gen-option-top {
    border-top: solid 3.5px var(--torkoal-black);
}

#more-1 {
    border-right: solid 1px var(--torkoal-black);
    border-top: solid 2px var(--torkoal-black);
}

#more-2 {
    border-left: solid 1px var(--torkoal-black);
    border-bottom-left-radius: 32px;
}

#more-3 {
    border-top: none;
    border-left: solid 1px var(--torkoal-black);
    border-bottom-left-radius: 32px;
}
    


.gen-option {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-secondary);
    background-color: var(--torkoal-white);   
    color: var(--torkoal-black);
    font-size: large;
    border-bottom: solid 2px var(--torkoal-black);
    border-top: solid 2px var(--torkoal-black);
    border-right: solid 2px var(--torkoal-black);
}

.gallery-grid-item-big h2 {
    display: flex;
    justify-content: center;
}


.gen-3 {
    grid-area: 2 / 1 / 2 / 9;
}

.gen-4 {
    grid-area: 3 / 1 / 3 / 9;
}

.gen-5 {
    grid-area: 4 / 1 / 4 / 9;
}

.gen-6 {
    grid-area: 5 / 1 / 5 / 9;
}

.gen-7 {
    grid-area: 6 / 1 / 6 / 9;
}

.gen-8 {
    grid-area: 7 / 1 / 7 / 9;
}

.gen-9 {
    grid-area: 8 / 1 / 8 / 9;
}






.tcg-container {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(22, 1fr);
    background-color: var(--torkoal-white);
    border-top: solid 2px var(--torkoal-black);
    border-bottom: solid 1px var(--torkoal-black);
    border-left: solid 1px var(--torkoal-black);
    grid-area: 2 / 1 / 9 / 9;
}

.tcg-mini-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--torkoal-black);
}

.gallery-tcg-image {
    max-width: 180px;
    max-height: 251px;
}


#tcg-image-1 {
    grid-area: 1 / 1 / 12 / 8;
    border-left: none;
}

#tcg-image-2 {
    grid-area: 1 / 8 / 12 / 15;
    border-right: none;
}

#tcg-image-3 {
    grid-area: 12 / 1 / 23 / 8;
    border-left: none;
}

#tcg-image-4 {
    grid-area: 12 / 8 / 23 / 15;
    border-right: none;
}



.art-image-container-1 {
    display: flex;
    justify-content: center;
    background-color: var(--torkoal-white);
    grid-area: 2 / 1 / 5 / 9;
}

.art-image-container-2 {
    display: flex;
    justify-content: center;
    background-color: var(--torkoal-white);
    grid-area: 6 / 1 / 9 / 9;
}


#art-images-image-1 {
    max-width: 250px;
    height: auto;
}

#art-images-image-2 {
    max-width: 250px;
    height: auto;
}







/* Test */








/* Contact Page */

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: var(--font-secondary);
    width: 50%;
    margin: auto;
    margin-top: 2em;
    gap: 2em;
}

.form-name-surname-email {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 30%;
}

.form-gender {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.form-continent {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-button {
    align-self: center;
}
















/* Elements */

main {
    margin-top: 2em;
    padding: 75px 0px;
}

body {
    background-color: var(--torkoal-orange);
    margin: 0;
}

header {
    background-color: var(--torkoal-gray);
    margin-top: 0;
    margin-bottom: 2em;
    padding: 1.5em;
}

footer {
    background-color: var(--torkoal-gray);
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 1.5em;
}


img {
    width: 100%;
}


legend {
    padding: 0;
}

fieldset {
    border: none;
}












